body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  font-family: 'PT Sans', 'Arial', sans-serif; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff; }

.title {
  font-size: 21px;
  color: #000000; }

.header {
  position: relative;
  width: 100%;
  min-height: 60px;
  padding-top: 20px;
  background-color: #fff; }

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 10; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%; }

.nav-item {
  width: 20%;
  text-align: center;
  vertical-align: middle; }

.nav-item:nth-child(2) {
  margin-right: 15%; }

.nav-link {
  font-weight: bold;
  color: #262626; }
  .nav-link:hover {
    color: #81b3d2; }
  .nav-link:active {
    color: #b9d5e6; }

.active {
  color: #9e897b; }

.mountains {
  width: 100%;
  background-image: url("../img/bg/mountains.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 115px; }

.mountains-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mountains-tagline {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 57px;
  margin-top: -1px; }

.mountains-title {
  display: block;
  width: 37%;
  text-align: center;
  margin-bottom: 35px; }

.town-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.town-item {
  background-color: #81b3d2; }
  .town-item:first-child, .town-item:nth-child(2) {
    color: #fff; }
    .town-item:first-child .town-title, .town-item:nth-child(2) .town-title {
      color: #fff; }
  .town-item:last-child {
    background-color: #dfecf4; }

.town-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .town-wrap__list {
    background-color: #fff;
    color: #000000; }

.town-real {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 33.3%;
  flex-basis: 33.3%;
  padding-top: 50px;
  padding-bottom: 60px; }

.town-real__service {
  padding-top: 55px;
  padding-bottom: 90px; }
  .town-real__service::before {
    content: "";
    display: table; }
  .town-real__service--one::before {
    width: 75px;
    height: 72px;
    background-image: url("../icon/icon-1.svg"); }
  .town-real__service--two::before {
    width: 74px;
    height: 70px;
    background-image: url("../icon/icon-3.svg"); }
  .town-real__service--three::before {
    width: 64px;
    height: 75px;
    background-image: url("../icon/icon-2.svg"); }

.town-title {
  display: block;
  width: 39%;
  text-align: center; }
  .town-title__service {
    margin-top: 30px;
    margin-bottom: 30px; }

.town-number {
  margin-top: 30px;
  margin-bottom: 30px; }

.town-tagline {
  display: block;
  width: 75%;
  text-align: center; }
  .town-tagline__small {
    width: 70%; }

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.card-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 55px; }

.card-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px; }

.card-text {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 50px; }

.card-link {
  width: 45%;
  text-align: center;
  padding: 20px 0;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  background-color: #766357; }
  .card-link:hover {
    background-color: #615248; }
  .card-link:active {
    -webkit-filter: brightness(50%);
    filter: brightness(50%); }

.form-section {
  display: none;
  position: absolute;
  top: 33.1%;
  left: 27.5%;
  width: 45%;
  padding: 55px;
  background-color: #fff; }

.form-show {
  display: block; }

.form {
  font-weight: bold; }

.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form-block__grupp {
  margin-bottom: 30px; }

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px; }

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .form-block__date {
    width: 30%;
    margin-right: 20px; }
  .form-block__adults {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .form-block__child {
    margin-left: 50px;
    margin-right: 30px; }

.form-input {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  width: 100%;
  background-color: #dfecf4;
  border: 0;
  outline: 0; }
  .form-input__adults {
    margin-left: 40px; }

.form-submit {
  width: 100%;
  padding: 20px  0;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #81b3d2;
  border: 0;
  outline: 0; }
  .form-submit:hover {
    background-color: #4991be; }
  .form-submit:active {
    -webkit-filter: brightness(50%);
    filter: brightness(50%); }

.card-map {
  background-image: url(../img/bg/map.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 593px; }
  .card-map iframe {
    width: 100%;
    min-height: 593px; }

.shape {
  width: 100%;
  min-height: 225%;
  background-image: url("../img/bg/filter background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 10px; }

.shape-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: #fff; }

.shape-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.shape-block {
  border: 0; }

.shape-title {
  margin-bottom: 30px;
  font-size: 16px;
  text-transform: uppercase; }

.shape-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; }

.shape-form__input {
  position: absolute;
  left: -9999px; }

.shape-form__fake {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1.5px solid #fff; }

.shape-form__input:checked + .shape-form__fake::before {
  border: 3px solid #fff;
  content: "";
  display: table;
  position: absolute;
  top: 0;
  left: 4px;
  width: 17px;
  height: 10px;
  border-color: #fff;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
