body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  font-family: 'PT Sans', 'Arial', sans-serif; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff; }

.title {
  font-size: 21px;
  color: #000000; }

.header {
  position: relative;
  width: 100%;
  min-height: 60px;
  padding-top: 20px;
  background-color: #fff; }

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  z-index: 10; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%; }

.nav-item {
  width: 20%;
  text-align: center;
  vertical-align: middle; }

.nav-item:nth-child(2) {
  margin-right: 15%; }

.nav-link {
  font-weight: bold;
  color: #262626; }
  .nav-link:hover {
    color: #81b3d2; }
  .nav-link:active {
    color: #b9d5e6; }

.active {
  color: #9e897b; }

.mountains {
  width: 100%;
  background-image: url("../img/bg/mountains.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 115px; }

.mountains-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mountains-tagline {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 57px;
  margin-top: -1px; }

.mountains-title {
  display: block;
  width: 37%;
  text-align: center;
  margin-bottom: 35px; }

.town-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.town-item:first-child, .town-item:nth-child(3) {
  background-color: #81b3d2;
  color: #fff; }
  .town-item:first-child .town-title, .town-item:nth-child(3) .town-title {
    color: #fff; }

.town-item:last-child {
  background-color: #b9d5e6; }

.town-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.town-real {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 33.3%;
  flex-basis: 33.3%;
  padding-top: 50px;
  padding-bottom: 60px; }
  .town-real__service {
    padding-top: 55px;
    padding-bottom: 90px; }

.town-title {
  display: block;
  width: 39%;
  text-align: center; }
  .town-title__service {
    margin-top: 30px;
    margin-bottom: 30px; }

.town-number {
  margin-top: 30px;
  margin-bottom: 30px; }

.town-tagline {
  display: block;
  width: 75%;
  text-align: center; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.card-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 55px; }

.card-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px; }

.card-text {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 50px; }
