.footer {
   width: 100%; 
   padding-top: 38px;
   padding-bottom: 35px;
   background-color: rgba(255,255,255, 0.9);
   &-absolute {
       position: relative;
       margin-top: -110px;
   }
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-vizit {
    flex-basis: 33.3%;
    min-width: 400px;
    text-align: center;
    font-weight: bold;
}

.footer-list,
.footer-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-list {
    flex-basis: 33.3%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .footer-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $blue;
        width: 46px;
        height: 48px;
        margin-left: 5px;
        transition-duration: .5s;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            background-color: #669ec0;
        }
        &:active  {
            background-color: #5496bd;
            svg {
                fill: #88b6d1;
            }  
        }
    }
}

.footer-copyright {
    flex-basis: 33.3%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer-html__link {
    margin-left: 8px;
    padding-top: 4px;
    transition-duration: .5s;
    svg:hover {
            fill: #81b3d2;
     }
    svg:active {
            fill: #bdbbbc;
    }
}
