.footer {
   width: 100%; 
   padding-top: 35px;
   padding-bottom: 35px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-vizit {
    flex-basis: 33.3%;
    text-align: center;
    font-weight: bold;
}

.footer-list {
    display: flex;
    .footer-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $blue;
        width: 48px;
        height: 48px;
        margin-right: 15px;
        transition-duration: .5s;
        &:hover {
            background-color: #669ec0;
        }
        &:active {
            background-color: #5496bd;
            svg {
                fill: #88b6d1;
            }
        }
    }
}

.footer-copyright {
    flex-basis: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-by {
    margin-right: 10px;
}

.footer-html__link {
    transition-duration: .5s;
    &:hover {
         svg {
            fill: #81b3d2;
        }
    }
    &:active {
        svg {
            fill: #bdbbbc;
        }
    }
}
