.header {
  position: relative;
  width: 100%;
  min-height: 60px;
  padding-top: 20px;
  padding-right: 6%;
  padding-left: 6%;
  background-color: #fff;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 10;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-item {
    width: 20%;
    text-align: right;
    vertical-align: middle;
  }
  .nav-item:first-child,
  .nav-item:nth-child(2) {
      text-align: left;
  }

  .nav-item:nth-child(2) {
      margin-right: 11.5%;
  }


  .nav-link {
    font-weight: bold;
    color: #262626;
    transition-duration: .5s;
    letter-spacing: .2px;
    &:hover {
      color: $blue;
    }
    &:active {
      color: lighten($blue, 15%);
    }
  }

  .active {
    color: lighten($broun, 15%);
  }
  
  