.hotels {
    width: 100%;
    padding-top: 33px;
}

.hotels-sorting {
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 30px;
}

.hotels-sorting__wrap {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.hotels-sorting__title {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 50px;
}

.hotels-sorting__list,
.hotels-sorting__item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotels-sorting__list {
    display: flex;
}

.hotels-sorting__item {
    margin-left: 35px;
}

.hotels-sorting__link {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 17px;
    text-decoration: none;
    color: #cacaca;
    border-bottom: 1px dotted $blue; 
    transition-duration: .5s;
    &:hover{
        color: $blue;
    }
    &:active {
        color: #000;
        border: 0;
    }
    &--active {
        color: $blue;
        border: 0;
    }
}



.hotels-sorting__submit {
    display: inline-block;
    &::before {
       content: "";
       display: block;
       width: 0;
       height: 0;
       border-right: 5px solid transparent;
       border-left: 5px solid transparent;
       border-top: 10px solid #cacaca;
       transition-duration: .5s;
    }
    &--up::before {
        transform: rotate(180deg);
        margin-right: 10px;
    }
    &:hover::before {
        border-top: 10px solid #000;
    }
    &:active::before {
        border-top: 10px solid $blue;
    }
    &--active::before {
        border-top: 10px solid $blue; 
    }
}



.hotels-list {
    &:last-child {
        border-bottom: 1px solid #e5e5e5;
    }
    
}

.hotels-list,
.hotels-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotels-item {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 6%;
    padding-right: 6%;
    border-top: 1px solid #e5e5e5;
}


.hotels-description {
    display: flex;
    align-items: center;
}

.hotels-photo {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.hotels-portrait {
    display: flex;
    flex-direction: column;
}

.title__hotels {
    padding: 0;
    margin: 0;
    width: 240px;
    text-align: left;
    line-height: 20px;
    letter-spacing: .2px;
     a {
        display: block;
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: #000;
        transition-duration: .5s;
     }
     a:hover {
         color: $blue;
     }
     a:active {
         color: #cacaca;
     }
}

.hotels-price {
    display: flex;
}

.hotels-price__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotels-link {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding: 3px 16px;
    color: #fff;
    font-weight: bold;
    &__blue {
        background-color: $blue;
        margin-right: 8px;
        transition-duration: .5s;
        &:hover {
            background-color: #669ec0;
        }
        &:active {
            color: #94b9d2;
            background-color: #5496bd; 
        }
    }
    &__red {
        background-color: $broun;
        transition-duration: .5s;
        &:hover {
            background-color: #604e43;
        }
        &:active {
            color: #65564e;
            background-color: #503e33;
        }
    }
}

.hotels-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hotels-rating__list,
.hotels-rating_item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotels-rating__list {
    display: flex;
}

.hotels-rating_item {
    position: relative;
    margin-left: 5px;
    &::before {
       position: absolute;
       left: 0;
       top: 0;
       content: "";
       display: block;
       background-image: url("../img/icons/star.svg");
       background-repeat: no-repeat;
    }
}

.hotels-rating__stock {
    padding: 3px 13px;
    background-color: #f2f2f2;
}
