.mountains {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .mountains-wrap {
      width: 100%;
      background-image: url("../img/bg/mountains.jpg");
      background-position: 50% 23%;
      @include cover;
      display: flex;
      flex-direction: column; 
      justify-content: flex-end;
      align-items: center;
      padding-top: 75px; 
  }

  .mountains-wrap__img {
      margin-bottom: 18px;
  }


  .mountains-tagline { 
      width: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 57px;
      padding-bottom: 50px;
      margin-top: -1px;
  }

  .mountains-title {
      display: block;
      width: 38%;
      text-align: center;
      margin-bottom: 35px;
      letter-spacing: .1px;
  }

 