.mountains {
    width: 100%;
    background-image: url("../img/bg/mountains.jpg");
    @include cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 115px;
  }

  .mountains-wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center; 
  }


  .mountains-tagline { 
      width: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 57px;
      padding-bottom: 57px;
      margin-top: -1px;
  }

  .mountains-title {
      display: block;
      width: 37%;
      text-align: center;
      margin-bottom: 35px;
  }

 