.shape {
    width: 100%;
    background-image: url("../img/bg/filter background.jpg");
    @include cover;
    padding-top: 28px;
    padding-bottom: 8px;
    padding-left: 6%;
    padding-right: 6%;
}

.shape-form {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.shape-wrap {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-start;  
}

.shape-block {
    border: 0;
    margin: 0;
    padding: 0;
    &:last-child {
        margin-left: 26%; 
    }
}


.shape-title {
   padding: 0;
   margin: 0;
   margin-bottom: 24px;
   font-size: 16px;
   text-transform: uppercase;
   color: #fff;
}



.shape-form__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

}

.shape-form__input {
    position: absolute;
    left: -9999px; 
}

.shape-form__fake {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 3px;
    border: 2px solid #fff;
    
  }

 .shape-form__input:checked {
     &+.shape-form__fake {
         &::before {
            border: 4px solid #fff;
            content: "";
            display: table;
            position: absolute;
            top: 0;
            left: 4px;
            width: 21px;
            height: 11px;
            border-color: #fff;
            border-top-style: none;
            border-right-style: none;
            transform: rotate(-45deg);
         }
    }
 }

 .shape-form__input:disabled {
    &+.shape-form__fake {
        border-color: #6a6a6a;
        &::before{
            border-color: #6a6a6a ;
        }
    }
 }
    
 .shape-block__filter {
    min-width: 319px;
  }
  
  .shape-title__filter {
    margin-bottom: 11px;
  }
  
  .shape-price__controls {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .shape-price__controls::after {
   content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);    
  }
  
  .shape-price__label  {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 33px;
    padding-left: 15px;
    cursor: pointer;
    &:first-child {
        padding-left: 33px;
    }
  }


   
  
  .shape-price__input {
    width: 50px;
    padding-left: 5px;
    color: inherit;
    background: 0;
    outline: 0;
    border: 0;
  }
  
  .shape-range__controls {
    position: relative;
    margin-bottom: 30px;
  }
  
.shape-scale {
    height: 2px;
    background: #938482;
  }
  
  .shape-bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
  }
  
  .shape-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-sizing: content-box;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    transition-duration: .2s;
    &__min {
        left: 0;
    }
    &__max {
        left: 80%;
    }
    &:hover {
        top: -11px;
        width: 5px;
        height: 5px;
        border: 10px solid #ffffff; 
    }
  }
  
  .shape-btn {
    display: block;
    margin: 0 auto;
    padding: 7px 33px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
    transition-duration: .5s;
    &:hover {
        color: #000000;
        background: #ffffff;  
    }
  }
  
  

 