.town-list,
.town-item {
    margin: 0;
    padding: 0;
    list-style: none;
}
.town-list {
    display: flex;
    flex-direction: column;
}

.town-item {
    background-color: $blue;
    &:first-child,
    &:nth-child(2) {
        color: #fff;
        .town-title {
            color: #fff;
        }
    }
    &:last-child {
        background-color: #eee;
    }
}

.town-wrap {
    display: flex;
    &__list {
        background-color: #fff;
        color: $dark;
    }
    img {
        width: 66.6%;
    }
}

.town-wrap__list,
.town-real__serviceб
.town-real__causes,
.town-wrap__causes {
    margin: 0;
    padding: 0;
    list-style: none;
}

.town-real {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33.3%;
    padding-top: 45px;
}

.town-real__service{
    padding-top: 58px;
    padding-bottom: 17px;
    &::before {
        content: "";
        display: table;
    }
    &--one::before {
        width: 75px;
        height: 72px;
        background-image: url("../img/icons/icon-1.svg");
    }
    &--two::before {
        width: 74px;
        height: 70px;
        background-image: url("../img/icons/icon-3.svg");
    }
    &--three::before {
        width: 64px;
        height: 75px;
        background-image: url("../img/icons/icon-2.svg");
    }
}

.town-title {
    margin: 0;
    padding: 0;
    display: block;
    width: 38%;
    line-height: 23px;
    text-align: center;
    margin-bottom: 10px;
    &__service {
        margin-top: 26px;
        margin-bottom: 10px;
    }
    &__devil {
        width: 37.7%; 
    }
}

.town-number {
    margin-bottom: 7px;
}

.town-tagline {
    display: block;
    width: 75%;
    text-align: center;
    margin-bottom: 60px;
    &__small {
        width: 70%;
    }
}