
.container {
    width: 1200px;
    //max-width: 64%;
    margin: 0 auto;
   // padding: 0;
   background-color: #fff;
}

  

  .title {
      font-size: 21px;
      line-height: 26px;
      color: $dark;
  }